<div class="quick-search">
    <div class="search-editable-input" contenteditable="true"></div>
    <div class="quick-search-result-wrapper">
        <ul class="quick-search-result">
        </ul>
    </div>
</div>