.quick-search {
    position: absolute;
    display: flex;
    width: 300px;
    min-width: 200px;
    flex-direction: column-reverse;
    z-index: 9999;
    border: 1px solid #7a7971;
    bottom: calc(50vh - 30px);
    left: calc(50vw - 150px);
    box-shadow: 0 0 20px #000;
}

.quick-search .search-editable-input {
    font-size: 110%;
    background: #DDD;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    line-height: 22px;
    height: 22px;
}

.quick-search .search-editable-input span {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.quick-search .search-editable-input span.search-tag {
    user-select: all;
    background: #666;
    color: #f0f0e0;
    display: inline-block;
    padding: 0 4px;
}

.quick-search .search-editable-input span.search-tag::selection {
    background: #222;
}

.quick-search-context {
    border: 2px #F00 solid !important;
}

.quick-search-result-wrapper {
    max-height: calc(50vh);
    overflow-y: auto;
    background: #DDD;
}
.quick-search-result {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.quick-search-result li {
    background: #DDD;
    padding: 6px;
    display: flex;
}

.quick-search-result li>* {
    display: block;
    width: 100%;
}

.quick-search-result li>span.title {
    flex-grow: 1;
    white-space: nowrap;
}

.quick-search-result li>span.sub {
    flex-shrink: 1;
    color: #666;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 3px;
}

.quick-search-result li a {
    border: none;
    padding: 0;
    border-radius: 0;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}
.quick-search-result li a:hover {
    background: none;
}
.quick-search-result li a i {
    margin-right: 2px;
}
.quick-search .search-selected {
    background: #D6D5CA;
}